@tailwind base;
@tailwind components;
@tailwind utilities;

.soft-shadow-xl {
  box-shadow: 0 20px 28px 0 #94a3b820;
}

.soft-shadow-r-lg {
  box-shadow: 0 0 14px 0 #94a3b810;
}

/* From https://katex.org/docs/issues.html#css-customization */
/* Add horizontal scrollbar for long display equations */
.katex-display {
  overflow: auto hidden;
}
